header {
    //@include flexCenter(column, rgb(146, 61, 111));
    height: 100vh;
    color: $textColor;
    background: lightblue;
    button {
        background: rgb(33, 104, 100);
        &:hover {
            background: rgb(140, 219, 215);;
        }
        &::after {
            content: " world";
        }
        &:active {
            background: rgb(41, 132, 168);;
        }
    }
}
