$primaryBtn : rgb(56, 146, 142);
$textColor: rgb(58, 42, 42);

header {
    background: lightblue;
    display: flex;
    justify-content: center;
    color: $textColor;
    button {
        background: $primaryBtn;
    }
}

.contact button {
    background: $primaryBtn;
}